<form action="/trainers/<%= @trainer.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="trainer[name]">Name:</label>
  <input name="trainer[name]" value="<%= @trainer.name %>">

  <label for="trainer[id]">Level:</label>
  <input name="trainer[id]" value="<%= @trainer.id %>">

  <input type="submit" value="Update">
</form>

<h2>Delete Trainer</h2>
<form action="/trainers/<%= @trainer.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>
