<h1>New Trainer</h1>

<form action="/trainers" method="post" >
  <label>Name:</label>
  <input name="name">

  <label>Level:</label>
  <input name="id">

  <input type="submit" value="Create">
</form>
