<h2><a href="/">All Trainers</a></h2>
<div class="trainer">
  <p>Trainer Name: <%= @trainer.name %></p>
  <p>Level: <%= @trainer.id %></p>
</div>

<h4>Owned Pokemon:</h4>
<% @pokemon.each do |pokemon| %>
<a href="/pokemons"><%= pokemon.name %></a>
<% end %>

<br>

<h5><a href='/trainers/<%= @trainer.id %>/edit'>Edit This Trainer</a></h5>
