<h1><a href="/">All Trainers</a></h1>
<div class="trainer">
  <p>Trainer Name: <%= @trainer.name %></p>
  <p>Trainer Level: <%= @trainer.id %></p>
</div>

<a href='/trainers/<%= @trainer.id %>/edit'>Edit This Trainer</a>
